#builds, log/preferences files
target/
*.out
*.preferences.xml
swing-inspector-linux-1.2.3/

#Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/venv/
Tools/VadereAnalysisTools/VadereAnalysisTool/VadereAnalysisTool.egg-info/
Tools/VadereAnalysisTools/VadereAnalysisTool/build/
Tools/VadereAnalysisTools/VadereAnalysisTool/dist/
Tools/ContinuousIntegration/**/output

#Jupyter Notebooks
**/.ipynb_checkpoints

# C extensions
*.so
vadere_analysis_tool/build

#Tools and build utils
bin/

#IntelliJ
.idea/
*.iml

#Eclipse
.settings/
.metadata/
.classpath
.project

#package specific
VadereGui/*.png
VadereGui/*.svg
VadereGui/*.mov
VadereGui/testResources/**/*.legacy
VadereUtils/testreports/*.txt
VadereSimulator/resources/current_commit_hash.txt
VadereSimulator/testResources/**/*.legacy

#model test output
VadereModelTests/**/output
VadereModelTests/*_private
VadereModelCalibration/**/output
VadereModelTests/**/legacy
VadereUtils/output/**
VadereModelTests/*_private

#mac osx files
.DS_Store

#linux files
**/.directory
