#builds, log/preferences files
target/
*.out
*.preferences.xml
swing-inspector-linux-1.2.3/

#Tools and build utils
bin/

#IntelliJ
.idea/
*.iml

#PyCharm
__pycache__

#Jupyter
.ipynb_checkpoints

#Eclipse
.settings/
.metadata/
.classpath
.project

#package specific
VadereGui/*.png
VadereGui/*.svg
VadereGui/*.mov
VadereGui/testResources/**/*.legacy
VadereUtils/testreports/*.txt
VadereUtils/output/*
VadereSimulator/resources/current_commit_hash.txt
VadereSimulator/testResources/**/*.legacy

#model test output
VadereModelTests/TestOSM/output/*
VadereModelTests/TestOSM_Group/output/*
VadereModelTests/TestSFM/output/*
VadereModelTests/TestGNM/output/*
VadereModelTests/TestOVM/output/*
VadereModelTests/TestOSM/legacy/*
VadereModelTests/TestOSM_Group/legacy/*
VadereModelTests/TestSFM/legacy/*
VadereModelTests/TestGNM/legacy/*
VadereModelTests/TestOVM/legacy/*
VadereModelTests/TESTOVM/legacy/*
VadereModelTests/TestOSM/processed output/*
VadereModelTests/TestOSM_Group/processed output/*
VadereModelTests/TestSFM/processed output/*
VadereModelTests/TestGNM/processed output/*
VadereModelTests/TestOVM/processed output/*
VadereUtils/output/*

#deprecated: can potentially be removed
VadereGui/output/

#mac osx files
.DS_Store

#linux deskopt dotfiles
**/.directory
/VadereModelTests/TestStairs/output
/VadereModelTests/TestStairs/legacy
