###############################################################################
# 
# This config will execut 3 commands on /path/to/map.osm and will produce
#  1) a cleand up version of /path/to/map.osm (overwritten) [cmd: lint]
#  2) a version /path/to/map.tmp containing a new convex hull [cmd: convex-hull]
#  3) a vadere Topgraphy json in /path/to/map.out ready to use in an existing
#     topogrpahy
#
#  Notes:
#  - *input* and *output* will default to the value under [Config] if they are 
#    not overwritten in a [CMD:options] area
#  - all default values must be present. 
#    Run osm2vadere use-config --new-config-file to create a new config file
#    with all default values set 
#  - *command-order* must be set to at least one element (with trailing ';')!
#
###############################################################################

###############################################################################
#       Options for all Commands. (Can be overwritten for each Command        #
###############################################################################

[Config]
input=/path/to/map.osm
output=/path/to/map.osm
command-order=lint;convex-hull;convert

# Convert #####################################################################
[convert:options]
input=/path/to/mf_base.tmp
output=/path/to/mf_base.out
use-osm-id=True
use-aoi=False

# Convex-Hull (way-list at end of file)########################################
[convex-hull:options]
#input=
output=/path/to/mf_base.tmp

# Walls (way-list at end of file)########################################
#[wall:options]
#input=
#output=
#dist=0.25

# Lint (Clenup OSM file)#######################################################
[lint:options]
#input=
#output=
all=True
dry-run=True
add-ids=True
unique-ids=True
check-obstacles=True

###############################################################################
#       List of ways which should be combinde to walls or convex hulls        #
###############################################################################

[convex-hull:way-list]

way 112954043
way 117590119
way 105289325

#[wall:way-list]

# way 1
# way 2
# way 3
